body{
    margin: 0;
    padding: 0;
}
.container{
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{
    border: 2px solid black;
    /* border-radius: 8px; */
    width: 256px;
    height: 74px;
    margin: 13px 5px;
    font-size: 18px;
    background-color: #94a294;
    font-weight: bold;
    
}
.butt{
    width: 56px;
    margin: 7px 5px;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #94a294;
    font-weight: bold;
    cursor: pointer;
}
.bg-col{
    background-color: #ffa501;

}